a {
	text-decoration: none;
	color: #474A50;
	font-weight: bold;
}

.tituloSecao {
	display: block;
	width: 100%;
	background: url('pics/footermod-bg.png') no-repeat scroll center top, -moz-linear-gradient(center top , #474A50, #0F161A) repeat scroll 0 0 transparent;
	margin-top: 3px;
	padding-left: 5px;
	cursor: pointer;
	color: #ffffff;
}

.conteudoSecao {
	padding-left: 15px;
	border-left: 2px dashed #474A50;
}

div.dica, div.comentario {
	display: none;
}

div.botoesMenu {
	height: 20px;
}

div.dica, p.comentarioRelatorio {
	border: 1px solid #474A50;
	padding: 8px;
	margin: 3px;
	font-size: 80%;
	background-color: #F0F1F1;
}

div.comentario textarea {
	width: 100%;
	margin: 3px;
	border-width: 2px;
}

span.smallLink{
	color: #000000;
	text-decoration: none;
	font-size: 70%;
	cursor: pointer;
	font-weight: bold;
}

#fundoNegro {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: #000000;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

#mnu_principal > ul{
	list-style-type: none;
	padding-left: 0px;
}

#cmb_idioma, #cmb_lista, #cmb_delimitador {
	display: inline;
	float: left;
	padding: 0 5px 0 5px;
}

.menu {
	max-height: 420px;
	width: 600;
	display: none;
	position: fixed;
	background-color: #ffffff;
	z-index: 51;
	padding: 15px;
	overflow: auto;
}#mnu_topo {	width: 630;	display: none;	position: fixed;	background: url(../pics/up-right-menu.gif) no-repeat top right transparent;	z-index: 60;	height: 15px;}#mnu_topo:before {	content: "";	width: 585;	display: block;	background: url(../pics/up-left-menu.gif) no-repeat top right transparent;	height: 15px;}#mnu_base {	width: 630;	display: none;	position: fixed;	background: url(../pics/down-right-menu.gif) no-repeat bottom right transparent;	z-index: 51;	height: 15px;}#mnu_base:before {	content: "";	width: 585px;	display: block;	background: url(../pics/down-left-menu.gif) no-repeat bottom left transparent;	height: 15px;}
.menu a {
	text-decoration: none;
	color: #009;
}

.opcao{
	height: 13px;
	width: 13px;
	background: url(../pics/selectors.gif) no-repeat -13px 0 transparent;
	display: inline-block;
	cursor: pointer;
}

.button{
	margin-left: 7px;
	padding-left: 5px;
	display: inline-block;
	background: url(../pics/button.gif) no-repeat top left transparent;
	height: 20px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

a.button {
	color: #ffffff;
	text-decoration: none;
}

#mnu_principal  ul  .button{
	margin: 2px;
	margin-right: 0;
}

.button_corner {
	width: 6px;
	display: inline-block;
	background: url(../pics/button.gif) no-repeat top right transparent;
	height: 20px;
}
#btn_fecharTopo {	height: 13px;	width: 13px;	background: url(../pics/close.gif) no-repeat 0 0 transparent;	display: inline-block;	cursor: pointer;	position: absolute;	top: 10px;	right: 20px;}#btn_fecharTopo:hover {	background: url(../pics/close.gif) no-repeat -13px 0 transparent;}

.rotuloOpcao{
	cursor: pointer;
}

.comentario_rotulo, .dica_rotulo {
	font-size: 70%;
	cursor: pointer;
	color: #1144dd;
}

.erroRelatorio {
	color: #ff0000;
}

.botoesMenu{
	text-align: right;
}

#rodape {
	font-size: 70%;
	margin-top: 10px;
}

#btn_pausar_timer {
	display: none;
}

#btn_inicar_timer, #btn_pausar_timer{
	cursor: pointer;
}

#btn_mudar, #btn_resetar {
	margin-top: 3px;
}

.code {
	font-family: monospace;
	font-size: 120%;
}

#top {
	width: 100%;
	background: #0F161A;
	/*background: url('pics/footermod-bg.png') no-repeat scroll center top;*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474A50', endColorstr='#0F161A');
	background: linear-gradient(top , #474A50, #0F161A);	
	background: -moz-linear-gradient(top , #474A50, #0F161A);
	background: -webkit-linear-gradient(top , #474A50, #0F161A);
	background-image: -o-linear-gradient(top , #474A50, #0F161A);
	padding: 10px;
	
	
}

	#top  img {
		vertical-align: top;
		border: none;
	}
	
	#top span#system_name{
		color: #ffffff;
		font-family: "arial black";
		position: relative;
		top: 15px;
		font-size: 15px;
	}
	
	#top a {
		text-decoration: none;
	}

input {
	background-color: #474A50;
	color:#F7F7F7;
	border:1px solid #0F161A;
}

#content {
	border: 4px solid #0F161A;
	padding:10px;
}

span.error {
	display: block;
	border: 1px solid #FF4D4D;
	padding: 10px;
	background-color: #FFDBDB;
	font-size: 75%;
	color: #000000;
	font-weight: normal;
}

span.alert {
	display: block;
	border: 1px solid #FFFF4D;
	padding: 10px;
	background-color: #FFFFCC;
	font-size: 75%;
	color: #000000;
	font-weight: normal;
}

#logged-status{
	float: right;
	text-align: right;
	color: #ffffff;
	margin: 6px;
	margin-right: 20px;
}

	#logged-status span {
		color: #ffffff;
		font-weight: normal;
	}

	#logged-status .user {
		font-weight: bold;
	}
	
	#logged-status a {
		text-decoration: none;
		font-weight: bold;
		color: #ffffff;
	}
	
